<?xml version="1.0"?>
<robot name="wall_top">
    <link name="wall_top">
        <visual>
            <origin xyz="0 0 -0.63678143845049017813" rpy="0 -0 0" />
            <geometry>
            <mesh filename="separate_wall_shapes_small/wall_pieces/wall_top.obj"/>
            </geometry>
            <material name="wall_top_material">
            <color rgba="0.2313725490196078538 0.38039215686274507888 0.7058823529411765163 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.63678143845049017813" rpy="0 -0 0" />
            <geometry>
            <mesh filename="separate_wall_shapes_small/wall_pieces/wall_top.obj"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="100" />
            <inertia ixx="0" ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>


</robot>
